doctype html
html
  head
    title PolyCrawl
    script(src='//code.jquery.com/jquery-1.10.1.min.js')
    script(src='/client.js')
    script(src='/socket.io/socket.io.js')
    link(rel='stylesheet', href='/style.css')
  body
    canvas#main-view
