doctype html
html
  head
    title PolyCrawl
    script(src='/components/jquery/jquery.min.js')
    script(src='/client.js')
    script(src='/socket.io/socket.io.js')
    script(src='/components/Keypress/keypress-2.0.3.min.js')
    link(rel='stylesheet', href='/style.css')
  body
    canvas#main-view
