doctype html
html
  head
    title PolyCrawl
    link(href="/dist/styles/components.min.css" rel="stylesheet" type="text/css")
    link(href="/dist/styles/style.min.css" rel="stylesheet" type="text/css")
    script(src='/dist/js/components.min.js')
    script(src='/dist/js/client.min.js')
    script(src='/socket.io/socket.io.js')
  body
    div#main-view
      div#game
      div#msg-log-container
        div#msg-log
        input#chat-input
