body, html {
	background-color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

#game {
	position: absolute;
	left: 50%;
	top: 50%;
}

#main-view {
	margin: 0 auto;
}
